// .dropdown-content {
//     display: none;
//     position: absolute;
//     background-color: #f9f9f9;
//     min-width: 160px;
//     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//     padding: 12px 16px;
//     z-index: 1;
//   }

.dropdowns{
    display: flex;
}

.ind_dd{
   padding: 10px 10px 10px 10px;
}

.bb{
    display: flex;
    justify-content: space-between;
}