<!-- <ion-header> -->
  <!-- <ion-toolbar class="hheader"> -->
    <div class="hheader">
    <div class="myclass">
    <ion-title style="color: aliceblue;">SET RULES</ion-title>
    <button  style="margin-right: 10px;" class="page3button" [routerLink]="['/page2']">Back to workflow</button>
  </div>
</div>
  <!-- </ion-toolbar> -->
<!-- </ion-header> -->

<div style="min-height: 100%;">
  <br>

  <!-- <ion-content> -->
    <div style="margin-left: 30px;">
    <div class="instructionbox"> 
     Instructions to set rule: 
    </div>
      <div class="innerinsbox">
          1. Give the % of discount, proceeding select the critera for discount
      </div>
  </div>
  <!-- </ion-content> -->
  <br>

 <div class="ddouterbox">
    <div class="ind_dd">
      <label class="ddtitle">Discount Type</label>
        <div class="dropdown-content">
          <select (change)="onOptionSelected5($event)"class="ddeachbox">
            <option selected> Select an option</option>
            <option  [value]="1">Percentage</option>
            <option  [value]="2">value</option>
          </select>
        </div>
      </div>

      <div style="display: flex;">
        <div style="padding-left: 10px; padding-right: 10px; margin-top: 10px;">
          <input [(ngModel)]="discnt"  class="inpbox" placeholder="Enter discount %" class="ddeachbox">
        </div>
          <button (click)="onOptionSelected()"
          class="page3button">Enter</button>
        </div>

   <br>
 

   <div class="dropdowns">

    <div class="ind_dd">
    <label class="ddtitle">District   </label>
      <div class="dropdown-content">
        <select (change)="onOptionSelected1($event)" class="ddeachbox">
          <option selected> Select an option</option>
          <option *ngFor="let dis of dist_Set" [value]="dis">{{dis}}</option>
        </select>
      </div>
    </div>


    <div class="ind_dd">
      <label class="ddtitle">Channel </label>
        <div class="dropdown-content">
          <select (change)="onOptionSelected2($event)"
          class="ddeachbox">
            <option selected> Select an option</option>
            <option *ngFor="let dis of chan_Set" [value]="dis">{{dis}}</option>
          </select>
        </div>
    </div>


    <div class="ind_dd">
      <label class="ddtitle">Season</label>
        <div class="dropdown-content">
          <select (change)="onOptionSelected3($event)"class="ddeachbox">
            <option selected> Select an option</option>
            <option *ngFor="let dis of seas_Set" [value]="dis">{{dis}}</option>
          </select>
        </div>
    </div>


    <div class="ind_dd">
        <label class="ddtitle">Product  </label>
          <div class="dropdown-content">
            <select (change)="onOptionSelected4($event)"class="ddeachbox">
              <option selected> Select an option</option>
              <option *ngFor="let dis of prod_Set" [value]="dis">{{dis}}</option>
            </select>
          </div>
    </div>

   </div>

   <br>

   <div class="ddbuttons">
    <button (click)="onclick()" class="page3button">Add Rule</button>
    <button (click)="update()" class="page3button">Update</button>
  </div>

</div>

  <br>
  <br>
  <br>
 
  <div class="bb">
  <button (click)="onclick2()" class="page3button">Add to LS</button>
  <button (click)="onclick3()" [routerLink]="['/page4']" class="page3button">view rules</button>
  </div>


</div>