<!-- <div class="page2nav">
      <ion-buttons slot="start">
         add the buttons
         <input [(ngModel)]="userInput"  class="inpbox">
         <button (click)="onInpch()" class="page2button">Enter</button>        
      </ion-buttons>



      
      <ion-buttons slot="middle">
        <input [(ngModel)]="Input"  class="inpbox">
         <button (click)="onInpch2()" class="page2button">Enter</button>
      </ion-buttons>



      
      <ion-buttons slot="end">
        <button class="page2button" [routerLink]="['/page3']">Set Rules</button>
        add the buttons
        <button type="button" class="page2button" (click)="onclick3()">Save</button>

        <button type="button" class="page2button" (click)="onclick4()">Execute</button>

     </ion-buttons>

</div> -->


<div class="hheader">
  <div class="myclass">
    <!-- <div> -->
      <button class="page2button" [routerLink]="['/home']">Back</button>
    <!-- </div> -->
    
  <ion-title style="color: aliceblue; margin-left: 20px; justify-content: center;">Workflow Creation</ion-title>
  <button class="page2button" [routerLink]="['/page3']">Set Rules</button>
  <!-- add the buttons -->
  <button type="button" class="page2button" (click)="onclick3()">Save</button>

  <button type="button" class="page2button" (click)="onclick4()">Execute</button>
</div>
</div>




<div class="userinputs">
  <!-- hello -->
    <div class="inputbox">
      Workflow Name
    <input [(ngModel)]="userInput"  class="inpbox">
        <button (click)="onInpch()" class="page2button">Enter</button>
    </div>

    <div class="inputbox">
      Input value
    <input [(ngModel)]="Input"  class="inpbox">
        <button (click)="onInpch2()" class="page2button">Enter</button>

    </div>
</div>

<div class="userinputs">
  <!-- <div class="leftdd"> -->
      <div class="ind_dd">
        <label style="font-size: 13px;" class="ddtitle">Product Selection</label>
          <div class="dropdown-content">
            <select  class="ddeachbox" (change)="onSelect1($event)">
              <option > Select an option</option>
              <option *ngFor="let level of hierar1" value="{{level.id}}">{{level.name}}</option>
            </select>
          </div>
        </div>

        <div class="ind_dd">
          <label style="font-size: 13px;" class="ddtitle">Select Category</label>
            <div class="dropdown-content">
              <select  class="ddeachbox" (change)="onSelect2($event)">
                <option > Select an option</option>
                <option *ngFor="let level of hierar2" value="{{level.idL2}}">{{level.name}}</option>
              </select>
            </div>
          </div>
    <!-- </div> -->


  <!-- <div class="rightdd"> -->
      <div class="ind_dd">
        <label style="font-size: 13px;" class="ddtitle">Customer Selection</label>
          <div class="dropdown-content">
            <select  class="ddeachbox" (change)="onSelect3($event)">
              <option > Select an option</option>
              <option *ngFor="let level of customer_hierar1" value="{{level.id}}">{{level.name}}</option>
            </select>
          </div>
        </div>

        <div class="ind_dd">
          <label style="font-size: 13px;" class="ddtitle">Select Catagory</label>
            <div class="dropdown-content">
              <select  class="ddeachbox" (change)="onSelect4($event)">
                <option > Select an option</option>
                <option *ngFor="let level of customer_hierar2" value="{{level.idL2}}">{{level.name}}</option>
              </select>
            </div>
          </div>
    <!-- </div> -->
        <!-- <button type="button" class="page2button" (click)="onSelect5()">See Results</button> -->
</div>