<!-- <div class="page2nav">
      <ion-buttons slot="start">
         add the buttons
         <input [(ngModel)]="userInput"  class="inpbox">
         <button (click)="onInpch()" class="page2button">Enter</button>        
      </ion-buttons>



      
      <ion-buttons slot="middle">
        <input [(ngModel)]="Input"  class="inpbox">
         <button (click)="onInpch2()" class="page2button">Enter</button>
      </ion-buttons>



      
      <ion-buttons slot="end">
        <button class="page2button" [routerLink]="['/page3']">Set Rules</button>
        add the buttons
        <button type="button" class="page2button" (click)="onclick3()">Save</button>

        <button type="button" class="page2button" (click)="onclick4()">Execute</button>

     </ion-buttons>

</div> -->


<div class="hheader">
  <div class="myclass">
  <ion-title style="color: aliceblue;">Workflow Creation</ion-title>
  <button class="page2button" [routerLink]="['/page3']">Set Rules</button>
  <!-- add the buttons -->
  <button type="button" class="page2button" (click)="onclick3()">Save</button>

  <button type="button" class="page2button" (click)="onclick4()">Execute</button>
</div>
</div>




<div class="userinputs">
  <!-- hello -->
    <div class="inputbox">
      Workflow Name
    <input [(ngModel)]="userInput"  class="inpbox">
        <button (click)="onInpch()" class="page2button">Enter</button>
    </div>

    <div class="inputbox">
      Input value
    <input [(ngModel)]="Input"  class="inpbox">
        <button (click)="onInpch2()" class="page2button">Enter</button>

    </div>
</div>
