.centered-title{
    text-align: center;
}
.inpbox{
    // border-color: black;
    font-size: 20px;
    width: 100px;
    height: 30px
}

.page2nav{
display: flex;
  flex-direction: row;
  border-radius: 7px;
  background: #AC23F6;
  margin: 5px 5px 5px 5px;
  height: 45px;
}

.page2button{
    // display: inline-flex;
    font-size: 15px;
    padding: 3px 10px;
    justify-content: center;
    align-items: center;
    // gap: 10px;
    color: white;
    border-radius: 4px;
    background: #AC23F6;
    margin: 5px 5px;
    border: 1px solid rgb(200, 142, 226);
}

.myclass{
    display: flex;
    flex-direction: row;
    border-radius: 7px;
    background: #AC23F6;
    margin: 5px 5px 5px 5px;
    height: 45px;
}

.userinputs{

// width: 1361px;
// height: 65px;
// flex-shrink: 0;
border-radius: 7px;
border: 1px solid #E1E1E1;
// background: #FFF;
margin-left: 10px;
margin-right: 10px;
margin-top: 10px;
display: flex;
flex-direction: row;
// justify-content: space-between;
}

.inputbox{
    margin: 7px 7px 7px 7px;
}

.ddeachbox{
    border-radius: 3px;
    border: 1px solid #E1E1E1;
    background: #FFF;
    }

    .ind_dd{
        // padding: 20px 20px 20px 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
     }