<div class="hheader">
  <div class="myclass">
  <ion-title style="color: aliceblue;">WORKFLOW EXECUTOR</ion-title>
  <button  style="margin-right: 10px;" class="page1button" [routerLink]="['/page2']">New workflow</button>
</div>
</div>

    <table>
      <thead>
          <tr>
            <th>SER NO.</th>
              <th>CREATOR'S NAME</th>
              <th>TIMESTAMP</th>
              <th>ACTION</th>
          </tr>
      </thead>
      <tr *ngFor="let hero of Listdata|async; index as i">
        <td>{{i+1}}</td>
        <td>{{hero.name}}</td>
        <td>Timestamp</td>
        <td> <button class='btn btn-danger' (click)="Redirectingfn()">Edit</button> </td> 
      </tr>
    </table>
<!-- </div> -->