<div class="hheader">
  <div class="myclass">
  <ion-title style="color: aliceblue;">REVIEW & DOWNLOAD</ion-title>
  <button  style="margin-right: 10px;" class="page5button" [routerLink]="['/page2']">Back to workflow</button>
</div>
</div>

<div style="min-height: 100%;">
  <!-- <div ng-controller="GridController as gridCtrl"> -->
    <!-- <tr *ngFor="let hero of objArr">
      <td>{{hero.discount}}</td>
  </tr> -->
  <div class="mtable">
        <table class="hie1">
          <thead>
              <tr>
                <th>RULE NO</th>
                <th>DISCOUNT TYPE</th>
                  <th>DISCOUNT</th>
                  <th>CHANNEL</th>
                  <th>DISTRICT</th>
                  <th>PRODUCT</th>
                  <th>SEASON</th>
                  <th>PRICE = ({{this.initialprice}})</th>
              </tr>
          </thead>
          <tr *ngFor="let hero of newobjArr; index as i">
            <td>{{hero.ruleno}}</td>
            <td>{{hero.discount_type==1?"Percentage":"Vale"}}</td>
            <td>{{hero.discount==""?"None":hero.discount}}</td>
            <td>{{ hero.channel==""?"None":hero.channel}}</td>
            <td>{{hero.district==""?"None":hero.district}}</td>
            <td>{{hero.product==""?"None":hero.product}}</td>
            <td>{{hero.season==""?"None":hero.season}}</td> 
            <td>{{hero.price}}</td> 
          </tr>
      </table>

  </div>

  <br>
  <button  class="page5button2" (click)="exportToCSV()">Export to CSV</button>
  <!-- <ion-button color="secondary" (click)="temporary()">check</ion-button> -->
</div>
